*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

.section1{
    background-color: rgb(29, 51, 48);
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 10px;
}
.section1 >img{
    margin-bottom: 15px;
}

.section2{
    background-color: rgb(24, 24, 44);
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 20px;
    text-align: center;
}

.section2 > div > img {
    width: 300px;   
}

.section3{
    background-color: rgb(29, 51, 48);
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

img{width: 300px;}